.projectName {
    color: rgb(30, 109, 30);
    margin-left: 100px;
}

.zodiacCard {
    border: 5px solid rgb(20, 62, 17);
    border-radius: 15px;
    padding: 20px; 
    display: flex;
    margin: 50px;
    background-color: rgb(30, 109, 30);
}

.zodiacCardImage {
    max-width: 250px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.zodiacCardImage img {
    height: auto;
    width: 100%;
    flex-shrink: 0;
}

/* .zodiacCardContent {
    color: white;
    padding-left: 15px;
    align-items: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
} */

.zodiacCardLink {
    color: white;
}

/* .zodiacCardLink:hover {
    color:rgb(20, 62, 17);
} */