.projectName {
    color: rgb(255, 255, 255);
    margin: 30px;
    display: flex;
    justify-content: center;
}

.zodiacWrapper {
    padding: 20px 150px 20px 150px;
}

.zodiacHeader h1 {
    color: rgb(25, 68, 142);
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.zodiacHeader h2 {
    color: rgb(25, 68, 142);
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 15px;
    background-color: rgb(255, 255, 255);
}

.zodiacWrapper p {
    color: rgb(255, 255, 255);
}

.zodiacHeader {
    height: 350px;
    background-color: rgb(255, 255, 255);
}

.zodiacText {
    font-size: 25px;
}

.zodiacSquare {
    display: flex;
}